<script
  src="https://giscus.app/client.js"
  data-repo="Dev-HH/Dev-HH.github.io"
  data-repo-id="R_kgDOMgVjXw"
  data-category="Comment"
  data-category-id="DIC_kwDOMgVjX84ChghI"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="light"
  data-lang="ko"
  crossorigin="anonymous"
  async
></script>
<!--테마 종류-->
<!-- 1. Github Light: light -->
<!-- 2. Github Light High Contrast: light_high_contrast -->
<!-- 3. Github Light Protanopia & Deuteranopia: light_protanopia -->
<!-- 4. Github Light Tritanopia: light_tritanopia -->
<!-- 5. Github Dark: dark -->
<!-- 6. Github Dark High Contrast: dark_high_contrast -->
<!-- 7. Github Dark Protanopia & Deuteranopia: dark_protanopia -->
<!-- 8. Github Dark Tritanopia: dark_tritanopia -->
<!-- 9. Github Dark Dimmed: dark_dimmed -->
<!-- 10. Preferred Color Scheme: preferred_color_scheme -->
<!-- 11. Transparent Dark: transparent_dark -->
<!-- 12. NoBorder Light: noborder_light -->
<!-- 13. NoBorder Dark: noborder_dark -->
<!-- 13. NoBorder Gray: noborder_gray -->
<!-- 14. RStudio Cobalt: cobalt -->
<!-- 15. Purple Dark: purple_dark -->
